.App-header {
  background-color: #282c34;
  color: white;
  
}

.card{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  background-color: #423e3e;

}

.cardList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.center{
  text-align: center;
}
